@charset "UTF-8";

@font-face {
  font-family: 'zid';
  src: url('../fonts/zid.eot');
  src: url('../fonts/zid.eot?#iefix') format('embedded-opentype'),
    url('../fonts/zid.woff') format('woff'),
    url('../fonts/zid.ttf') format('truetype'),
    url('../fonts/zid.svg#zid') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'zid' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='zid-']:before,
[class*=' zid-']:before {
  font-family: 'zid' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zid {
  display: inline-block;
  font-family: 'zid' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant: normal;
  font-size: inherit;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
}

.zid-tick:before {
  content: '\61';
}
.zid-truck:before {
  content: '\62';
}
.zid-up-down:before {
  content: '\63';
}
.zid-upload:before {
  content: '\64';
}
.zid-user:before {
  content: '\65';
}
.zid-users:before {
  content: '\66';
}
.zid-viral:before {
  content: '\67';
}
.zid-writing:before {
  content: '\68';
}
.zid-settings:before {
  content: '\69';
}
.zid-print:before {
  content: '\6a';
}
.zid-plus:before {
  content: '\6b';
}
.zid-plant:before {
  content: '\6c';
}
.zid-pie-chart:before {
  content: '\6d';
}
.zid-pen:before {
  content: '\6e';
}
.zid-options:before {
  content: '\6f';
}
.zid-logo:before {
  content: '\70';
}
.zid-laptop:before {
  content: '\71';
}
.zid-home:before {
  content: '\72';
}
.zid-find:before {
  content: '\73';
}
.zid-eye:before {
  content: '\74';
}
.zid-exit:before {
  content: '\75';
}
.zid-apps:before {
  content: '\76';
}
.zid-arrow:before {
  content: '\77';
}
.zid-arrow-line:before {
  content: '\78';
}
.zid-basket:before {
  content: '\79';
}
.zid-bell:before {
  content: '\7a';
}
.zid-calendar:before {
  content: '\41';
}
.zid-chart:before {
  content: '\42';
}
.zid-clock:before {
  content: '\43';
}
.zid-close:before {
  content: '\44';
}
.zid-cogwheel:before {
  content: '\45';
}
.zid-coins:before {
  content: '\46';
}
.zid-dart-board:before {
  content: '\47';
}
.zid-ecommerce:before {
  content: '\48';
}
.zid-delivery:before {
  content: '\49';
}
.zid-transfer:before {
  content: '\4a';
}
.zid-warning:before {
  content: '\4b';
}
.zid-discount:before {
  content: '\4c';
}
.zid-tap-logo:before {
  content: '\4d';
}
